.box3 {
	width:100%;
	border-top:2px solid #3593da;
	background:url(../images/border-top1.gif) repeat-x left top #176ac7;
}
.box3 .right-bot-corner {
	background:url(../images/right-bot-corner1.gif) no-repeat right bottom;
}
.box3 .left-bot-corner {
	background:url(../images/left-bot-corner1.gif) no-repeat left bottom;
}
.box3 .inner {
	padding:7px 49px 36px 48px;
}
.box3 h4 {
	color:#fff;
	margin-bottom:36px;
}
.box3 h4 b {
	color:#c1f0ff;
}
